altgraph==0.17.4
cairocffi==1.7.1
CairoSVG==2.7.1
cffi==1.17.1
cssselect2==0.7.0
defusedxml==0.7.1
packaging==24.2
pefile==2023.2.7
pillow==11.1.0
pycparser==2.22
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.1
pystray==0.19.5
pywin32-ctypes==0.2.3
setuptools==75.8.0
six==1.17.0
tendo==0.3.0
tinycss2==1.4.0
webencodings==0.5.1
winotify==1.1.0
